@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

body {
	font-family: 'Karla', sans-serif;
	color: #1D1F2E;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

[class*="__container"] {
	max-width: 970px;
	padding: 0px 15px;
	margin: 0 auto;
}

/* ==================================== */

.header {
	position: fixed;
	background-color: #fff;
	min-width: 100%;
	z-index: 50;
}

.header__container {
	display: flex;
	align-items: center;
	padding: 28px 15px;
}

.header__logo {
	width: 112px;
}

.logo {}

.header__menu {}

.menu {
	flex: 1 1 auto;
}

.menu__list {
	display: flex;
	justify-content: flex-end;
	gap: calc(10px + (30 - 10)*((100vw - 320px) / (1200 - 320)));
}

.menu__item {}

.menu__link {
	font-weight: 400;
	font-size: 12px;
	line-height: 1.5;

	letter-spacing: 2px;
	text-transform: uppercase;

	color: #1D1F2E;
}

.header__cart {
	margin-left: calc(5px + (50 - 10)*((100vw - 320px) / (1200 - 320)));
}

.cart {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex: 0 0 92px;
	column-gap: 10px;
	row-gap: 4px;
	flex-wrap: wrap;
}

.cart__icon {}

.cart__title {
	font-weight: 400;
	font-size: 12px;
	line-height: 1.5;

	letter-spacing: 2px;
	text-transform: uppercase;

	color: #1D1F2E;
}

.cart__counter {
	background-color: #1D1F2E;
	width: 20px;
	height: 18px;
	border-radius: 9px;
	font-weight: 400;
	font-size: 11px;
	line-height: 1.6;

	text-align: center;

	color: #FFFFFF;
}

.cart::after {
	content: "";
	width: 100%;
	height: 2px;
	background-color: #A25F4B4D;
}

.burger__item {
	display: none;
}


@media (max-width: 770.98px) {
	.header__container {
		padding: 15px 15px;
	}

	.header__logo {
		flex: 1 1 112px;
	}

	.menu__list {
		display: none;
	}

	.burger__item {
		position: relative;
		height: 16px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin: 0px 0px 0px 15px;
	}

	.burger__item::before,
	.burger__item::after {
		content: "";
		height: 2px;
		width: 18px;
		background-color: #1D1F2E;
	}

	.burger__item span {
		height: 2px;
		width: 18px;
		background-color: #1D1F2E;
	}
}


/* ==================================== */
.main {
	position: relative;
	top: 80px;
	display: flex;
	flex-direction: column;
	gap: calc(70px + (100 - 70)*((100vw - 320px) / (1200 - 320)));
}

.coffee-mugs {
	background-color: #050827;
}

.coffee-mugs__container {
	background: url("../img/coffee-mugs.png");
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: calc(60px + (160 - 60)*((100vw - 320px) / (1200 - 320)));
	padding-bottom: calc(100px + (170 - 100)*((100vw - 320px) / (1200 - 320)));

	display: flex;
	flex-direction: column;
	align-items: center;
}

.coffee-mugs__subtitle {
	font-size: 12px;
	line-height: 1.5;

	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;

	color: #FFFFFF;
	margin-bottom: 10px;
}

.coffee-mugs__title {
	font-size: 47px;
	line-height: 1.2;

	text-align: center;

	color: #FFFFFF;

	margin-bottom: 10px;
}

.coffee-mugs__text {
	font-size: 17px;
	line-height: 1.7;

	text-align: center;

	color: #FFFFFF;

	margin-bottom: 48px;
}

.coffee-mugs__explore {
	display: block;
	width: 230px;
	background-color: #fff;
	font-size: 12px;
	line-height: 1.5;

	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;

	color: #1D1F2E;
}

@media (max-width: 788.98px) {
	.main {
		top: 56px;
	}

	.coffee-mugs__subtitle {
		font-size: 11px;
	}

	.coffee-mugs__title {
		font-size: 45px;
	}

	.coffee-mugs__text {
		font-size: 15px;
	}
}


/* ==================================== */

.story {}

.story__container {
	padding-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.story__title {
	max-width: 578px;
	font-size: calc(18px + (28 - 20)*((100vw - 320px) / (1200 - 320)));
	line-height: 1.4;

	text-align: center;

	color: #1D1F2E;
	margin-bottom: 16px;
}

.story__text {
	max-width: 658px;

	margin-bottom: 20px;
}

.text {
	font-size: calc(12px + (16 - 12)*((100vw - 320px) / (1200 - 320)));
	line-height: 1.7;

	text-align: center;

	color: #1D1F2E;
	opacity: 70%;
}

.read-completely {
	font-size: 15px;
	line-height: 28px;

	text-align: center;

	color: #A25F4B;

}

.read-completely::after {
	content: '';
	display: block;
	width: 100%;
	height: 2px;

	background-color: #A25F4B;
	opacity: 20%;
}

@media (max-width: 752.98px) {
	.story__title {
		margin-bottom: 10px;
	}

	.story__text {
		margin-bottom: 20px;
	}

	.read-completely {
		font-size: 13px;
	}
}

/* ==================================== */

.featured-mugs {}

.featured-mugs__container {}

.featured-mugs__title {}

.block-title {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 15px;
	font-size: calc(9px + (12 - 9)*((100vw - 320px) / (1200 - 320)));
	line-height: 1.5;

	letter-spacing: 2px;
	text-transform: uppercase;

	margin-bottom: calc(30px + (50 - 30)*((100vw - 320px) / (1200 - 320)));
}

.block-title::before,
.block-title::after {
	content: "";
	width: 30px;
	height: 1px;

	background-color: #ECECED;
}


.featured-mugs__list {}

.coffee-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	row-gap: calc(30px + (50 - 30)*((100vw - 320px) / (1200 - 320)));
}

.featured-mugs__card {
	width: 49%;
}

.coffee-card {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.coffee-card__img {
	margin-bottom: calc(10px + (35 - 10)*((100vw - 320px) / (1200 - 320)));
}

.coffee-card__img img {
	max-width: 100%;
}

.title {
	font-size: calc(14px + (20 - 14)*((100vw - 320px) / (1200 - 320)));
	line-height: 1.5;

	text-align: center;

	color: #1D1F2E;
}

.coffee-card__price {}

.price {}

.price__value {
	font-size: calc(13px + (16 - 13)*((100vw - 320px) / (1200 - 320)));
	line-height: 1.7;

	text-align: center;

	color: #1D1F2EB2;
	opacity: 70%;

}

.sale {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.sale__new-value {
	font-size: calc(15px + (19 - 15)*((100vw - 320px) / (1200 - 320)));
	line-height: 1.6;

	text-align: center;

	color: #A25F4B;

}

.sale__old-value {
	font-size: calc(13px + (16 - 13)*((100vw - 320px) / (1200 - 320)));
	line-height: 1.7;

	text-align: center;
	text-decoration-line: line-through;

	color: #1D1F2E66;
	opacity: 40%;

}


/* ==================================== */

.products {}

.products__container {}

.products__title {}

.block-title {}

.products__list {}

.products__card {
	width: 32%;
}

@media (max-width: 450.98px) {
	.products__card {
		width: 49%;
	}
}

/* ==================================== */

.premium-offer {}

.premium-offer__container {}

.premium-offer__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.premium-offer__img {
	display: grid;
	gap: calc(10px + (20 - 10)*((100vw - 320px) / (1200 - 320)));
	grid-template-columns: minmax(140px, 100%) minmax(50px, 100%);
}

.offer-img img {
	width: 100%;
	height: 100%;
}

.offer-img__01 {
	grid-row-start: 1;
	grid-row-end: 3;
}

.offer-img__02 {}

.offer-img__03 {}

.premium-offer__body {
	margin-left: 20px;
}

.offer-body__subtitle {
	font-size: 12px;
	line-height: 1.5;

	letter-spacing: 2px;
	text-transform: uppercase;

	color: #1D1F2E;
}

.offer-body__title {
	margin-top: calc(5px + (10 - 5)*((100vw - 320px) / (1200 - 320)));
	max-width: 240px;
	font-size: 36px;
	line-height: 1.4;


	color: #1D1F2E;
}

.offer-body__text {
	margin-top: calc(5px + (10 - 5)*((100vw - 320px) / (1200 - 320)));
	max-width: 350px;
	font-size: 16px;
	line-height: 1.7;


	color: #1D1F2EB2;
	opacity: 70%;
}

.offer-body__button {
	display: inline-block;
	margin-top: calc(10px + (30 - 10)*((100vw - 320px) / (1200 - 320)));
	padding: 10px 30px 10px 30px;
	font-size: calc(10px + (12 - 10)*((100vw - 320px) / (1200 - 320)));
	line-height: 1.5;

	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;

	color: #FFFFFF;

	background-color: #1D1F2E;
}

@media (max-width: 730.98px) {
	.offer-body__subtitle {
		font-size: calc(9px + (12 - 9)*((100vw - 320px) / (1200 - 320)));
	}

	.offer-body__title {
		font-size: calc(25px + (36 - 25)*((100vw - 320px) / (1200 - 320)));
	}

	.offer-body__text {
		font-size: calc(12px + (16 - 12)*((100vw - 320px) / (1200 - 320)));
	}
}

@media (max-width: 598.98px) {

	.premium-offer__content {
		flex-direction: column-reverse;
		flex-wrap: wrap;
		align-items: flex-start;
	}

	.premium-offer__img {
		display: grid;
		gap: 10px;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: minmax(90px, 100%) 1fr 1fr;
	}

	.offer-img img {
		height: 100%;
		width: 100%;
	}

	.offer-img__01 {
		grid-row-start: 1;
		grid-row-end: 2;
	}

	.premium-offer__body {
		margin: 0px;
		margin-bottom: 20px;
	}

	.offer-body__title {
		max-width: 300px;
	}
}

/* ==================================== */

.poster {
	width: 100vw;
}

.poster img {
	width: 100%;
}

/* ==================================== */

.lifestyle {}

.lifestyle__container {}

.lifestyle__title {}

.lifestyle__stories {}

.stories-lifestyle {}

.stories-lifestyle__list {
	display: flex;
	justify-content: space-between;
	gap: calc(5px + (20 - 5)*((100vw - 320px) / (1200 - 320)));
}

.stories-lifestyle__card {}

.card-stories {
	flex: 0 0 32%;
}

.card-stories__img {
	margin-bottom: calc(10px + (30 - 10)*((100vw - 320px) / (1200 - 320)));
}

.card-stories__img img {
	max-width: 100%;

}

.card-stories__title {
	text-align: start;
	margin-bottom: 10px;
}

.card-stories__text {
	text-align: start;
	margin-bottom: 15px;
}

.card-stories__date {
	font-size: calc(8px + (12 - 8)*((100vw - 320px) / (1200 - 320)));
	line-height: 1.3;

	letter-spacing: 2px;
	text-transform: uppercase;

	color: #1D1F2E;

}

@media (max-width: 565.98px) {
	.stories-lifestyle__list {
		display: block;
	}

	.card-stories {
		display: flex;
		margin-bottom: 20px;
	}

	.card-stories__img {
		flex: 0 0 30%;
		margin: 0px 10px 0px 0px;
	}

	.card-stories__title {
		text-align: start;
		max-width: 300px;
		margin: 0px 0px 0px 0px;
	}

	.card-stories__text {
		max-width: 250px;
		margin-bottom: 0px;
	}
}

@media (max-width: 350.98px) {
	.stories-lifestyle__list {
		display: block;
	}

	.card-stories {
		display: block;
		margin-bottom: 20px;
	}

	.card-stories__img {
		width: 100%;
		margin: 0px 10px 0px 0px;
	}

	.card-stories__img img {
		width: 100%;
		max-height: 150px;
		object-fit: cover;
	}

	.card-stories__title {
		text-align: start;
		max-width: 300px;
		margin: 0px 0px 0px 0px;
	}

	.card-stories__text {
		max-width: 250px;
		margin-bottom: 0px;
	}
}


/* ==================================== */

.subscribe {
	background-color: #1D1F2E;
	color: #FFFFFF;
}

.subscribe__container {}

.block-title_white::before,
.block-title_white::after {
	content: "";
	height: 2px;
	width: 18px;
	background-color: #D2D2D51A;
}

.block-title {}

.subscribe__container {
	padding: 80px 0px;
}

.subscribe__subtitle {
	margin-bottom: 15px;
}

.subscribe__title {
	font-size: calc(20px + (36 - 20)*((100vw - 320px) / (1200 - 320)));
	line-height: 1.4;

	text-align: center;
	margin-bottom: 25px;
}

.subscribe__form {
	display: flex;
	justify-content: center;
}

.subscribe__input {
	display: inline-block;
	max-width: 350px;
	min-width: 200px;
	height: 50px;
	background-color: #1D1F2E;
	text-align: center;
	font-size: 12px;
	line-height: 1.5;

	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;

	color: #FFFFFF;
	margin-right: 10px;
	border: 1px solid #2F303E;
	padding: 10px 20px;
}

.customer__button {
	max-width: 130px;
	min-width: 80px;
	height: 50px;
	text-align: center;
	font-size: 12px;
	line-height: 1.5;

	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;

	color: #000000;
	background-color: #fff;

	padding: 5px 5px;
}

@media (max-width: 350.98px) {
	.subscribe__container {
		padding: 50px 15px;
	}

	.subscribe__input {
		height: 35px;
		font-size: calc(10px + (12 - 10)*((100vw - 320px) / (1200 - 320)));
	}

	.customer__button {
		height: 35px;
		font-size: calc(10px + (12 - 10)*((100vw - 320px) / (1200 - 320)));
	}
}